body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgb(73, 72, 71);
  font-family: 'Space Grotesk', sans-serif;
}

header,
main .recommendation-container,
main .messages-container .message,
main .form-container form,
.found-content {
  background-color: rgb(45, 49, 49);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding: 1rem 0;
}

header .title-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .title-container img {
  pointer-events: none;
}

header .title-container a {
  font-weight: 600;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  margin: 1.4rem 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

header nav {
  display: flex;
  gap: 2rem;
}

header nav a {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-size: 1.4rem;
  letter-spacing: 0.03em;
}

header nav a:hover {
  text-underline-offset: 8px;
  text-decoration: underline;
}

main {
  flex: 1;
}

main .vip-btn {
  text-align: center;
  color: rgb(73, 72, 71);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

main .vip-badge {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .vip-badge a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

main .vip-btn:hover {
  color: white;
}

main .home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

main .recommendation-container,
main .messages-container {
  min-width: 50%;
}

main .recommendation-container,
main .messages-container .message,
main .form-container form {
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.2);
}

main .recommendation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 2rem;
}

main .recommendation-container h2 {
  margin: 0;
}

main .recommendation-container a {
  color: white;
}

main .messages-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main .messages-container .message {
  max-width: 100%;
  border-radius: 8px;
  padding: 10px;
}

main .form-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

main .form-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  max-width: fit-content;
  border-radius: 8px;
  font-size: 2rem;
}

main .form-container form input,
main .form-container form button {
  min-height: 1.4rem;
  border-radius: 8px;
  padding: 10px;
  font-size: 1.4rem;
  outline: none;
}

main .form-container form input:focus {
  border: 2px solid rgb(94, 131, 255);
  box-shadow: 0 0 4px rgb(72, 115, 255);
}

main .form-container form button {
  cursor: pointer;
}

main .form-container .error-messages {
  font-size: 1rem;
  color: rgb(255, 73, 73);
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.found-container a {
  position: relative;
  color: white;
  text-decoration: none;
}

.found-container a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.found-container a:hover::after {
  width: 100%;
}

.found-content {
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.found-content a {
  padding-top: 20px;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    gap: 1rem;
  }
  main .recommendation-container,
  main .messages-container {
    min-width: 90%;
    padding: 10px;
  }
}
