<div class="form-container">
  <form action="/add-message" method="POST">
    <label for="title">Title: </label>
    <input
      type="text"
      id="title"
      name="title"
      autocomplete="off"
      required
      autofocus
    />

    <label for="message">Message: </label>
    <input
      type="text"
      id="message"
      name="message"
      autocomplete="off"
      required
    />

    <button>Post</button>
  </form>
</div>
