<div class="form-container">
  <form action="/sign-in" method="POST">
    <label for="username">Username: </label>
    <input
      type="text"
      id="username"
      name="username"
      autocomplete="off"
      required
      autofocus
      value="<%= typeof oldInput !== 'undefined' ? oldInput.username : '' %>"
    />
    <% if (typeof errors !== 'undefined') { %>
      <% const usernameError = errors.find(e => e.param === 'username') %>
      <% if (usernameError) { %>
        <p class="error-msg"><%= usernameError.msg %></p>
      <% } %>
    <% } %>

    <label for="current-password">Password: </label>
    <input
      type="password"
      id="current-password"
      name="password"
      autocomplete="current-password"
      required
    />
    <% if (typeof errors !== 'undefined') { %>
      <% const passwordError = errors.find(e => e.param === 'password') %>
      <% if (passwordError) { %>
        <p class="error-msg"><%= passwordError.msg %></p>
      <% } %>
    <% } %>

    <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
      <div class="error-messages">
        <% errors.forEach(error => { %>
          <p><%= error.msg %></p>
        <% }) %>
      </div>
    <% } %>
    <button>Sign in</button>
  </form>

</div>
