<div class="form-container">
  <form action="/sign-in" method="POST">
    <label for="username">Username: </label>
    <input
      type="text"
      id="username"
      name="username"
      autocomplete="off"
      required
      autofocus
    />

    <label for="current-password">Password: </label>
    <input
      type="password"
      id="current-password"
      name="password"
      autocomplete="current-password"
      required
    />

    <button>Sign in</button>
  </form>
</div>
